@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none; /* Cache la scrollbar sur Chrome, Edge et Safari */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #000;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    font-size: 1.5rem;
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
}
